.form-button {
  height: 40px;
  border: none;
  background-color: none;
  background: none;
  cursor: pointer;
}

.form-button.primary {
  background-color: var(--denim);
  color: white;
  border-radius: 4px;
  padding: 0 16px;
}

.form-button.primary:hover {
  background-color: var(--light-purp);
}

.form-button.secondary {
  color: var(--grey);
  padding: 0 16px;
}

.form-button.secondary:hover {
  color: var(--denim);
}

@media screen and (min-width: 980px) {
  .form-button {
    height: 48px;
    font-size: 16px;
  }

  .form-button.form-button.primary {
    border-radius: 8px;
    padding: 0 24px;
  }
}
