.form-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 172px;
  background: var(--background) no-repeat;
  background-size: cover;
}

.form-nav {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
  padding: 32px 0;
  justify-content: center;
}

.form-nav__step {
  border: solid 1px white;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.form-nav__step.active {
  background-color: var(--sky-blue);
  border-color: var(--sky-blue);
  color: var(--denim);
}
