:root {
  --denim: #022959;
  --light-purp: #928cff;
  --grey: #9699aa;
  --bg: #eff5ff;
  --light-grey: #d6d9e6;
  --orange: #ffaf7e;
  --pink: #f9818e;
  --purple: #483eff;
  --very-light-grey: rgb(248, 249, 255);
  --error: #ee374a;
  --sky-blue: #bee2fd;
}
